.popover {
  position: absolute;
  top: 0;
  left: 200px;
  z-index: 9999;
  display: block;
  max-width: 276px;
  line-height: 1.5;
  text-align: start;
  font-size: .875rem;
  word-wrap: break-word;
  line-break: auto;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  margin-bottom: 0.5rem;
}

.popover-header {
  padding: .5rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  font-weight: 600;
}

.popover-body {
  padding: .5rem .75rem;
}
